*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    background-color: #0c0f38;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5px;
    
}
.logo >img{
    width: 100%;/* confusion */
}
li{
    list-style: none;
    display: inline-block;
    padding: 0 26px;
}
.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.navbar ul li .home, .navbar ul li a:hover{
    color: #fdd430;
}
.content-wrapper{
    display: flex;
    padding-bottom: 70px;
}
.header-content{
    width: 40%;
    margin-right: 5%;
    padding-bottom: 25px;
}
.header-content h1{
    color: #fff;
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 25px;
}
.header-content h2{
    font-size: 40px;
    color: #fdd430;
    padding-bottom: 35px;
}
.header-content p{
    font-size: 16px;
    color:#ffffff;
    line-height: 30px;
    padding-bottom: 40px;
}
.header-content a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px 45px;
    text-transform: uppercase;
}
.header-content a:hover{
    background-color: #000000;
    color: #ffffff;
}
.content-picture{
    width: 55%;
}
.content-picture img{
    width: 100%;
}
/* header area end */

/* new-features */
.new-features{
    padding: 75px 0;
    text-align: center;
}
.feature-content{
    width: 950px;
    margin: auto;
}
.features-header{
    font-size: 45px;
    padding-bottom: 50px;
}
.new-features img{
    padding-bottom: 40px;
}
.new-features p{
    line-height: 30px;
    padding-bottom: 45px;
}
.new-features a{
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    padding: 15px 50px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
/* new-features end */

/* services */
.services{
    background-color: #0c0f38;
    color: white;
    padding: 75px 0;
}
.services-caption{
    text-align: center;
    padding: 0 330px;
}
.services-caption h1{
    font-size: 30px;
    padding-bottom: 20px;
}
.services-caption p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 40px;
}
.services-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.services-wrapper .item{
    background-color: aqua;
}




/* responsive */
@media (max-width:1140px) {
    .container{
        padding-left: 50px;
    } 
    .services-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:768px) {
    .services-wrapper{
        grid-template-columns: 1fr;
    }

}